
<div class="container bidform">
  <form class="postBid">

    <h4 class="display-4">Post new bid</h4>
    <mat-form-field class="full-width">
      <mat-label>Item</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>
<button mat-raised-button (click)="openDialog()">Create Auction</button>

<br>
    <mat-form-field class="full-width" >
      <input matInput placeholder="Quantity">
    </mat-form-field>
    kg(s)
    <br>
    <mat-form-field class="full-width">
      <input matInput placeholder="Base Price (in Rs.)" value="">
    </mat-form-field>

<br>

    <button mat-raised-button color="primary">Post Bid</button>

  </form>
</div>
